*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  }
  
  body {
    font-family:  'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(238,237,239);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    height: 400px;
    width: 400px;
    justify-content: space-between;
    border-radius: 16px 16px 0px 0px;
    margin-top: 12vh;
    overflow: hidden;
  }
  
  .display {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(19,26,39);
    color: whitesmoke;
    flex-grow: 0.2; 
    border-radius: 10px 10px 0px 0px ;
    flex-wrap: wrap;
    transition: font-size 0.3s ease;
  }

  .display_para{
    box-sizing: border-box;
    width: auto;
    max-height: max-content;
    padding-right:7px ;
    padding-top: 15px;
    font-size: 2em;
    word-break: break-all;
    text-overflow: ellipsis;
  }
  
  @media screen and (max-height: 107px) {
    .display_para {
      font-size: 1em;
    }
  }
  

  .signs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
  }
 
  .signs_plus{
    padding: 10px 35px;
    border: none;
    background-color: rgb(217,30,92);
    color: antiquewhite;
    font-size: 20px;
    cursor: pointer;
  }
  
  .buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(19,26,39);
    flex-grow: 3;
    
  }


  .buttons_1{
    display: flex;
    justify-content: space-around;
    background-color: powderblue;
    flex: 1;
  }

  .buttons_2{
    display: flex;
    justify-content: space-around;
    background-color: powderblue;
    flex: 1;
    
  }

  .buttons_3{
    display: flex;
    justify-content: space-around;
    background-color: powderblue;
    flex: 1;
  }

  .buttons_4{
    display: flex;
    justify-content: space-around;
    background-color: powderblue;
    flex: 1;
  }
  
  .buttons_1 > * {
    flex: 1;
    font-size: 25px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  
  }
  .buttons_2 > * {
    flex: 1;
    font-size: 25px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;

  }
  .buttons_3 > * {
    flex: 1;
    font-size: 25px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .buttons_4 > * {
    flex: 1;
    font-size: 25px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    
  }

 